[tool.poetry]
name = "easy-transformer"
version = "0.2.0"
description = "An implementation of transformers tailored for mechanistic interpretability."
authors = ["Neel Nanda <00000000+neel-nanda@users.noreply.github.com>"]
license = "MIT"
readme = "README.md"
packages = [{include = "easy_transformer"}]

[tool.poetry.dependencies]
python = "^3.8"
einops = "^0.6.0"
numpy = "^1.21"
torch = "^1.12"
datasets = "^2.7.1"
transformers = "^4.25.1"
tqdm = "^4.64.1"
pandas = "^1.3.5"
wandb = "^0.13.5"
fancy-einsum = "^0.0.3"
torchtyping = "^0.1.4"
rich = "^12.6.0"

[tool.poetry.group.dev.dependencies]
pytest = "^7.2.0"
mypy = "^0.991"
jupyter = "^1.0.0"

[tool.poetry.group.jupyter.dependencies]
jupyterlab = "^3.5.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
